body {
  background: #777;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
}

header, nav, section, aside, footer {
  background: #ebebeb;
  color: #777;
  width: 960px;
  padding: 8px;
}

.container {
  overflow: hidden;
}

section {
  position: relative;
  float: left;
  background: #ebebeb;
  color: #777;
  width: 495px;
  z-index: -2;
}

article {
  background: #777;
  color: #ebebeb;
  position: relative;
  padding: 8px;
  z-index: -1;
}

aside {
  position: relative;
  background: #ebebeb;
  color: #777;
  width: 420px;
  padding: 8px;
  padding-bottom: 100%;
  margin-bottom: -100%;
  margin-left: 540px;
}

h1 {
  background: #ebebeb;
  color: #777;
  position: relative;
  padding: 20px;
  font-weight: bold;
}

p.content {
  background: #ebebeb;
  color: #777;
  position: relative;
  padding: 20px;
}

footer {
  clear:all;
  position: absolute;
}
